:root { --text: #0C8F59; --back: #F8FCEE; --backdarker: #EFF4E2; --border: #0C8F59; --grey: #CCC; }
* { box-sizing: border-box; }
html,body { display: flex; margin: 0; flex-direction: column; }
body,label { font-size: 17px; }
/* Fx mac: 784w x 584h */
body { font-family: Verdana, Helvetica, Arial, Sans-serif; width: 680px; height: 584px; }

main { height: 100%; margin: 4px; background-color: var(--back); color: var(--text); border-radius: 4px; }
h1,h2,h3 { margin: 0; border-radius: 4px 4px 0 0; background-color: var(--backdarker); color: #000; }
h1 { font-size: 30px; line-height: 40px; text-align: center; }
h3 { font-size: 80%; margin: 0 -4px; padding: 0 4px; }
h3:not(:first-child) { margin-top: 1.5em; }
h1>img { float: right; width: 39px; height: 39px; vertical-align: top; border: 1px solid var(--border); border-radius: 8px; box-shadow: 0 0 4px var(--border); }


main>div { position: absolute; top: 44px; left: 4px; width: 668px; height: 533px; }
div>input[type="radio"] { display: none; }
div>input[type="radio"]+label { display: block; width: 120px; padding: 0 0 2px 8px; cursor: pointer; }
div>input[type="radio"]+label:hover { background-color: var(--backdarker); }
div>input[type="radio"]:checked+label { background-color: var(--border); color: var(--back); }
div>input[type="radio"]~div { position: absolute; top: 0; left: 120px; right: 0; bottom: 0; overflow-y: auto; border: 1px solid var(--border); display: none; padding: 8px; border-bottom-right-radius: 2px }
div>input[type="radio"]:checked~div { display: block; }

table { table-layout: fixed; width: 100%; border-collapse: collapse; }
col.name { width: 53%; }
col.version { width: 20%; }
col.stat { width: 9%; }
thead>tr,tr:nth-child(even) { background-color: var(--backdarker); }
td,th {
	padding: 1px 4px;
	font-size: 15px;
	text-align: right;
}
td:first-child {
	text-align: left;
}
th { font-weight: normal; }
tbody>tr>th:empty::after { content: '0'; color: var(--grey); }
th[title] { text-decoration: underline dotted; }
thead>tr>td,thead>tr>th { font-weight: bold; }

div>form>div>span,div>form>label>span { display: inline-block; width: 300px; }
